html {
  background: rgb(90, 90, 90);
}

main {
  height: 950px;
  width: 1700px;
  background: rgb(208, 153, 70);
  margin: auto;
}

.logo {
  width: 15%;
}

html {
  background-color: rgba(122, 74, 51, 0.924);
  color: rgba(0, 0, 0, 0.792);
}

.box {
  background-color: rgba(89, 50, 32, 0.924);
}

.header {
  display: flex;
  align-items: center;
}

/* BUTTON STYLES */

.Home {
  padding: 1em;
  border-radius: 0.5em;
  border: 0.25em solid rgba(0, 0, 0, 0);
  font-weight: bold;
}
