/* Main */

html {
  background: rgb(90, 90, 90);
}

h1 {
  font-family: "KG HAPPY Solid", sans-serif;
}

main {
  /* height: 950px; */
  width: 90%;
  background: rgb(208, 153, 70);
  margin: auto;
}

.logo {
  width: 17%;
}

html {
  background-color: rgba(122, 74, 51, 0.924);
  color: rgba(0, 0, 0, 0.792);
}

.box {
  background-color: rgba(89, 50, 32, 0.924);
}

.mainContent {
  flex-grow: 1;
  padding: 2em;
}

.mainContent {
  font-size: 2em;
}

.mainContent {
  text-indent: 30px;
  padding-top: 6em;
  background-image: url(../Images/Divider.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* Header */

.header {
  display: flex;
  align-items: center;
}

.header > h1 {
  font-size: 5em;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.contentWrapper {
  display: flex;
}

/* .divider {
  width: 88%;
} */

/* Side Navigation */

.sideNav ul {
  padding: 0;
}

.sideNav li {
  border-bottom: 1px #fff solid;
  background-color: rgba(89, 50, 32, 0.924);
  padding: 1em;
}

.sideNav li:last-child {
  border: none;
}

.sideNav a {
  color: rgb(255, 236, 230);
  width: 700px;
  font-size: 2.5em;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.sideNav a:hover {
  color: rgb(130, 117, 114);
  text-decoration: underline;
}

.sideNav li {
  list-style-type: none;
}

/* BUTTON STYLES */

.Home {
  padding: 1em;
  border-radius: 0.5em;
  border: 0.25em solid rgba(0, 0, 0, 0);
  font-weight: bold;
}
