/* Main */

html {
  background: rgb(90, 90, 90);
}

h1 {
  font-family: "KG HAPPY Solid", sans-serif;
}

main {
  /* height: 950px; */
  width: 90%;
  background: rgb(208, 153, 70);
  margin: auto;
}

.logo {
  width: 17%;
}

html {
  background-color: rgba(122, 74, 51, 0.924);
  color: rgba(0, 0, 0, 0.792);
}

.box {
  background-color: rgba(89, 50, 32, 0.924);
}

.mainContent {
  flex-grow: 1;
  padding: 2em;
}

.mainContent {
  font-size: 2em;
}

.mainContent {
  text-indent: 30px;
  padding-top: 0;
  background-image: url(../Images/Divider.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.mainContent h2 {
  margin-top: 0.75em;
  padding-bottom: 0.5em;
}

/* Header */

.header {
  display: flex;
  align-items: center;
}

.header > h1 {
  font-size: 5em;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.contentWrapper {
  display: flex;
}

/* Side Navigation */

.sideNav {
  background-color: rgba(138, 75, 46, 1);
}

.sideNav ul {
  padding: 0;
  margin-top: 0;
}

.sideNav li {
  border-bottom: 1px #fff solid;
  background-color: rgba(138, 75, 46, 1);
  padding: 1em;
}

.sideNav li:last-child {
  border: none;
}

.sideNav a {
  color: rgb(255, 236, 230);
  width: 700px;
  font-size: 2.5em;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.sideNav a:hover {
  color: rgb(130, 117, 114);
  text-decoration: underline;
}

.sideNav li {
  list-style-type: none;
}

/* BUTTON STYLES */

.Home {
  padding: 1em;
  border-radius: 0.5em;
  border: 0.25em solid rgba(0, 0, 0, 0);
  font-weight: bold;
}

/* History */

.img-float-left {
  width: 60%;
  float: right;
}

.Pups {
  float: left;
  width: 90%;
}

.Domestic {
  float: right;
  width: 70%;
}

.DomesticFox {
  width: 60%;
}

/* Breeds */

.RedButton {
  padding: 1em;
}

.FennecButton {
  padding: 1em;
}

.SilverButton {
  padding: 1em;
}

.ArcticButton {
  padding: 1em;
}

.BatButton {
  padding: 1em;
}

Button {
  padding: 1em;
}

.Red {
  width: 17%;
  float: right;
}

.Fennec {
  width: 17%;
  float: right;
}

.Silver {
  width: 17%;
  float: right;
}

.Arctic {
  width: 17%;
  float: right;
}

.Bat {
  width: 17%;
  float: right;
}

.Grey {
  width: 17%;
  float: right;
}
h2 {
  text-decoration: underline;
}

/* Info/Care */

.Supplies-Resources {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 2em;
}

.Diet {
  padding-top: 0.5em;
}

.Meat {
  text-align: center;
}

.InsectsFruits {
  text-align: center;
}

.Enviroment {
  padding-top: 1em;
}

.img-float-left {
  float: left;
  margin-right: 2em;
}

.img-float-right {
  float: right;
  margin-right: 2em;
}
